<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/about.css')}}"
    />
    <script
      src="https://kit.fontawesome.com/dbed6b6114.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Fruit.AI</a>
      <i class="bx bx-menu" id="menu-icon"></i>
      <nav class="navbar">
        <a href="{{ url_for("index")}}">Home</a>
        <a href="{{ url_for("about")}}">About</a>
        <a href="{{ url_for("chatbot")}}">Chatbot</a>
        <a href="{{ url_for("faqs")}}">Faqs</a>
        <a href="{{ url_for("login")}}">Login</a>
      </nav>
    </header>
    <section>
      <div class="image">
        <img
          class="ice-cream"
          src="{{ url_for('static', filename='images/ice-cream-8356877.png') }}"
        />
      </div>

      <div class="content">
        <h2>About Us</h2>
        <span><!-- line here --></span>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis
          aspernatur voluptas inventore ab voluptates nostrum minus illo laborum
          harum laudantium earum ut, temporibus fugiat sequi explicabo facilis
          unde quos corporis!
        </p>

        <div class="motto">
          <h2>Our Motto</h2>
          <p>"Fresh ideas, ripe results."</p>
        </div>
        </div class="bottom">
        <ul class="icons">
          <li>
            <i class="fa fa-twitter"></i>
          </li>
          <li>
            <i class="fa fa-facebook"></i>
          </li>
          <li>
            <i class="fa fa-github"></i>
          </li>
          <li>
            <i class="fa fa-pinterest"></i>
          </li>
        </ul>

        <ul class="navi">
          "Stay Fresh, Stay Healthy" ~ Fruit.AI
        </ul>
      </div>
      </div>
    </section>

    <footer class="footer">
      <p> 2024 Fruit.AI. All rights reserved.</p>
      <div class="social-media">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-instagram"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-youtube"></i></a>
      </div>
    </footer>
  </body>
</html>
