<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static',filename="css/chatbot.css")}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Fruit.AI</a>
      <i class="bx bx-menu" id="menu-icon"></i>
      <nav class="navbar">
        <a href="{{ url_for("index")}}">Home</a>
        <a href="{{ url_for("about")}}">About</a>
        <a href="{{ url_for("chatbot")}}">Chatbot</a>
        <a href="{{ url_for("faqs")}}">Faqs</a>
        <a href="{{ url_for("login")}}">Login</a>
      </nav>
    </header>
    <main>
      <h2>Welcome to <span>FruitBot</span></h2>
      <form class="search-form">
        <input type="text" id="search-input" name="search-item" placeholder="Enter the fruit name ...">
        <button type="button" id="search-button" class="btn btn-outline-success" >Search</button>
        <div id="google_translate_element"></div>
      </form>
      <div class="options">
        <button type="button" class="btn btn-outline-secondary" data-fruit-name="Mulberry">Mulberry</button>
        <button type="button" class="btn btn-outline-secondary" data-fruit-name="Kiwi">Kiwi</button>
        <button type="button" class="btn btn-outline-secondary" data-fruit-name="Apple">Apple</button>
        <button type="button" class="btn btn-outline-secondary" data-fruit-name="Mango">Mango</button>
        <button type="button" class="btn btn-outline-secondary" data-fruit-name="Banana">Banana</button>
        <button type="button" class="btn btn-outline-secondary" data-fruit-name="Cherry">Cherry</button>
        <button type="button" class="btn btn-outline-secondary" data-fruit-name="Grapes">Grapes</button>
        <button type="button" class="btn btn-outline-secondary" data-fruit-name="Guava">Guava</button>
        <button type="button" class="btn btn-outline-secondary" data-fruit-name="JackFruit">JackFruit</button>
        <button type="button" class="btn btn-outline-secondary" data-fruit-name="Lemon">Lemon</button>
        <button type="button" class="btn btn-outline-secondary" data-fruit-name="Orange">Orange</button>
      </div>
      <div class="chat">
        <div id="fruit-info" class="ans"></div>
      </div>
    </main>

    <footer class="footer">
      <p> 2024 Fruit.AI. All rights reserved.</p>
    </footer>
    <script>
      // Search Bar functionality 
      const searchInput = document.getElementById('search-input');
      const searchButton = document.getElementById('search-button');
      searchButton.addEventListener('click', () => {
        const fruitName = searchInput.value.trim();
        if (fruitName) {
          fetch('/get_fruit_info?fruit_name=' + fruitName)
            .then(response => response.json())
            .then(data => {
              if (data.error) {
                document.getElementById('fruit-info').innerHTML = `
                <h2>Fruit is out of stock</h2>
                <p>Sorry, we don't have ${fruitName} in stock.</p>
                `;
              } else {
                  const fruitInfo = data;
                  document.getElementById('fruit-info').innerHTML = `
                  <h2>${fruitInfo.name}</h2>
                  <p>${fruitInfo.description}</p>
                  <img src="${fruitInfo.image}" alt="${fruitInfo.name}">
                `;
              }})
            .catch(error => console.error(error));
        }
      });

      // FruitButton Functionality
      const fruitButtons = document.querySelectorAll('.options button');
      fruitButtons.forEach(button => {
        button.addEventListener('click', () => {
          const fruitName = button.getAttribute('data-fruit-name');
          fetch('/get_fruit_info?fruit_name=' + fruitName)
            .then(response => response.json())
            .then(data => {
              const fruitInfo = data;
              // Display the fruit information on the UI
              document.getElementById('fruit-info').innerHTML = `
                <h2>${fruitInfo.name}</h2>
                <p>${fruitInfo.description}</p>
              `;
            })
            .catch(error => console.error(error));
        });
      });

      // For google translate
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
