<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static',filename="css/chatbot.css")}}">
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Fruit.AI</a>
      <i class="bx bx-menu" id="menu-icon"></i>
      <nav class="navbar">
        <a href="{{ url_for("index")}}">Home</a>
        <a href="{{ url_for("about")}}">About</a>
        <a href="{{ url_for("chatbot")}}">Chatbot</a>
        <a href="{{ url_for("faqs")}}">Faqs</a>
        <a href="{{ url_for("login")}}">Login</a>
      </nav>
    </header>
    <h2>Chatbot Page</h2>

    <footer class="footer">
      <p> 2024 Fruit.AI. All rights reserved.</p>
    </footer>
  </body>
</html>
