<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruit.AI</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/navbar.css') }}"
    />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Fruit.AI</a>
      <i class="bx bx-menu" id="menu-icon"></i>
      <nav class="navbar">
        <a href="{{ url_for("index")}}">Home</a>
        <a href="{{ url_for("about")}}">About</a>
        <a href="{{ url_for("chatbot")}}">Chatbot</a>
        <a href="{{ url_for("faqs")}}">Faqs</a>
        <a href="{{ url_for("login")}}">Login</a>
      </nav>
    </header>
    <div class="nav-bg"></div>
    <div style="
      background-image: url('https://www.superiorwallpapers.com/download/many-autumn-products-fruits-wallpaper-1680x945.jpg'),
      background-size:cover,
      background-position: center,
      color: white,
      text-align: center,
      padding: 150px 0">
        <h1>Orange Fruit</h1>
        <p>Many desktop publishing packages and web page editors now use as their</p>
        <a href="#" class="button">SHOP NOW</a>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
