<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up | Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/signup.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Fruit.AI</a>
      <i class="bx bx-menu" id="menu-icon"></i>
      <nav class="navbar">
        <a href="{{ url_for("index")}}">Home</a>
        <a href="{{ url_for("about")}}">About</a>
        <a href="{{ url_for("chatbot")}}">Chatbot</a>
        <a href="{{ url_for("faqs")}}">Faqs</a>
        <a href="{{ url_for("login")}}">Login</a>
      </nav>
    </header>
    <div class="wrapper">
      <h2>Registration</h2>
      <form method="post">
        {% if errors %}
        <ul>
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <div class="input-box">
          <input
            name="name"
            type="text"
            placeholder="Enter your name"
            required
          />
        </div>
        <div class="input-box">
          <input
            name="email"
            type="text"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="input-box">
          <input
            name="password"
            type="password"
            placeholder="Create password"
            required
          />
        </div>
        <div class="input-box">
          <input
            name="confirm_password"
            type="password"
            placeholder="Confirm password"
            required
          />
        </div>
        <div class="policy">
          <input type="checkbox" />
          <h3>I accept all terms & condition</h3>
        </div>
        <div class="input-box button">
          <input type="Submit" value="Sign Up" />
        </div>
        <div class="text">
          <h3>
            Already have an account?
            <a href="{{ url_for('login') }}">Login now</a>
          </h3>
        </div>
      </form>
    </div>

    <footer class="footer">
      <p> 2024 Fruit.AI. All rights reserved.</p>
      <div class="social-media">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-instagram"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
        <a href="#"><i class="bx bxl-youtube"></i></a>
      </div>
    </footer>
  </body>
</html>
